
@{
    ViewBag.Title = "Hakkımızda";
}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialPageKategoriler")
        </div>

        <div class="col-md-7 col-md-offset-1">

            <div class="row">

                <h2 class="text-center">Consectetur adipiscing elit fusce vel.</h2>
                <hr />
                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                <hr />
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>
                <p>Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.</p>
                <p>Ut fusce varius nisl ac ipsum gravida vel pretium tellus.</p>
                <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.</p>

            </div>
        </div>

    </div>

</div>
<!-- /.container -->

@section footer{
    @Html.Partial("_PartialPageFooter")
}